.videoFooter {
  position: relative;
  color: white;
  bottom: 150px;
  margin-left: 40px;
  display: flex;
}

.videoFooter__Text {
  flex: 1;
}
.videoFooter__Text > p {
  padding-bottom: 20px;
}
.videoFooter__Text > h3 {
  padding-bottom: 20px;
}
.videoFooter__Icon {
  position: absolute;
}
.videoFooter__Ticker > .ticker {
  height: fit-content;
  margin-left: 30px;
  width: 60%;
}
.videoFooter__Ticker h1 {
  padding-top: 7px;
}

.videoFooter__Record {
  animation: spinTheRecond infinite 5s linear;
  height: 50px;
  filter: invert(1);
  position: absolute;
  bottom: 0;
  right: 20px;
}

@keyframes spinTheRecond {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
